{% extends 'base.html.twig' %}

{% block title %}Annonce !{% endblock %}

{% block body %}
    {% include 'inc/header.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h4>{{ ad1.title }}</h4>
                <p>{{ ad1.texte }}</p>
            </div>
            <div class="col-3 text-center" style="max-height : 900px;">
                <div class="h5">Nos partenaires</div>
                <img src="{{ ad2.image }}" alt="{{ ad2.title }}" class="col-12" style="object-fit: fill;">
            </div>

            <div class="col-6">
                <h1>{{ annonce.title|capitalize }}</h1>
                <h3>{{ annonce.price|number_format(2,',', ' ') }} €</h3>
                <div>
                    {{ annonce.description|raw }}
                </div>
                <div>
                    {% for picture in annonce.pictures %}
                        <img src="{{ picture.webpath }}{{ picture.filename }}" class="col-12"
                             style="width:100px;height:100px;object-fit: fill;" alt="Image">
                    {% endfor %}
                </div>
                <div class="col-6">
                    <div class="w-100 mb-4">
                        posté le <b>{{ annonce.postedDate|date('d/M/Y') }}</b>
                    </div>
                    <div class="h4">Vendeur</div>
                    <div class="subtitle">
                        {{ annonce.owner.name }} {{ annonce.owner.lastname }}
                    </div>
                    <div class="contact">
                        <div class="phone">
                            <a href="tel:{{ annonce.owner.phoneNumber }}">{{ annonce.owner.phoneNumber }}</a>
                        </div>
                        <div class="address">
                            {{ seller.cp }} {{ seller.city }}, {{ seller.city_data.departement }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 text-center" style="max-height : 900px;">
                <div class="h5">Nos partenaires</div>
                <img src="{{ ad2.image }}" alt="{{ ad2.title }}" class="col-12" style="max-height : 100%">
            </div>
        </div>
    </div>

    {% include 'inc/footer.html.twig' %}
{% endblock %}


{% block javascript_footer %}
    <!-- coucou -->
{% endblock %}